RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.ekalliptus\.id$ [NC]
RewriteRule ^(.*)$ https://ekalliptus.id/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]